.container {
  display: grid;
  grid-gap: 10px;
}

.main {
  display: grid;
  grid-gap: 30px;
}

/* section 1 styling**************************************** */
.section1 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "article1 article1 article2 article3"
    "article1 article1 article2 article3"
    "article1 article1 article5 article5"
    "article4 article4 article5 article5";
}

.section1 > .article1 {
  grid-area: article1;
}
.section1 > .article2 {
  grid-area: article2;
}
.section1 > .article3 {
  grid-area: article3;
}
.section1 > .article4 {
  grid-area: article4;
}
.section1 > .article5 {
  grid-area: article5;
}

/* section 2 styling***************************************** */
.section2 {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
.section2 > * {
  flex-grow: 1;
  align-self: center;
  background-color: darkblue;
}

/* section 3 styling******************************************* */
.section3 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

/* section4 styling ***************************************** */
.section4 {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
.section4 > * {
  flex-grow: 1;
  align-self: center;
}

.section5 {
  display: flex;
}

/* section 6 syling********************************************* */
.section6 {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}

.aside1 {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

/* section 7 styling *************************************** */
.section7 {
  background-color: rgb(54, 85, 61);
  display: flex;
  gap: 10px;
}
.section7 > article {
  background-color: darkseagreen;
}
.section7 > aside {
  background-color: rgb(10, 128, 10);
}

/* section 8 styling *********************************** */
.section8 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
}

.navbar {
  background-color: bisque;
}

/* footer styling *************************************** */
.footer {
  background-color: blueviolet;
  display: flex;
}
.footer1 {
  flex-grow: 1;
}
.footer2 {
  flex-grow: 1;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* media queries */

@media screen and (max-width: 1024px) {
  .section1 {
    grid-template-areas:
      "article1 article1 article1 article1"
      "article1 article1 article1 article1"
      "article2 article2 article3 article3"
      "article4 article4 article5 article5";
  }

  .section2 {
    flex-direction: column;
  }
  .section3 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .section8 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .footer {
    flex-direction: column;
  }
  .footer2 > * {
    float: left;
  }
}

@media screen and (max-width: 766px) {
  .section1 > * {
    height: 100%;
  }
  .section3 {
    grid-template-columns: 1fr;
    grid-template-rows: 8fr;
  }

  .section6 {
    background-color: rgb(255, 103, 134);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
  .section6 > article {
    flex: 3;
    width: 100%;
  }
  .section6 > aside {
    flex: 1;
    width: 100%;
  }
  .section7 {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
  .section7 > article {
    flex: 1;
    width: 100%;
  }
  .section7 > aside {
    flex: 3;
    width: 100%;
  }
  .section8 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
